/*
 * @Author: luciano 
 客户管理
 * @Date: 2021-12-17 15:40:04 
 * @Last Modified by:   luciano 
 * @Last Modified time: 2021-12-17 15:40:04 
 */

.contianer {
    width: 100%;
    height: 100%;
    ::v-deep .van-nav-bar .van-icon {
      color: #666666;
    }
    .lc_title {
      position: relative;
      font-size: 16px;
      margin-left: 10px;
      padding-left: 26px;
      &::before {
        position: absolute;
        display: block;
        top: 4px;
        left: 16px;
        content: "";
        width: 4px;
        height: 16px;
        background-color: red;
      }
    }
    ::v-deep .van-cell {
      margin-left: 10px;
    }
    ::v-deep .van-cell--required {
      width: fit-content;
      margin-left: 10px;
      &::before {
        content: "";
      }
      .van-cell__title.van-field__label {
        span {
          &::after {
            position: relative;
            top: 3px;
            right: -5px;
            color: #ee0a24;
            font-size: 14px;
            content: "*";
          }
        }
      }
    }
    ::v-deep .van-cell {
      padding: 10px;
    }
    ::v-deep .van-cell .van-cell__value {
      box-sizing: border-box;
      border: solid 1px #cccccc;
      border-radius: 4px;
  
      &::after {
        border-bottom: none;
      }
    }
  }