/*
 * @Author: luciano 
 * 客戶管理
 * @Date: 2021-12-16 15:51:18 
 * @Last Modified by: luciano
 * @Last Modified time: 2022-01-12 12:04:44
 */
.lc_search {
  width: 20px;
}

.fixed img:nth-child(1) {
  right: 4px;
  position: fixed;
  width: 60px;
  bottom: 250px;
  z-index: 222;
}

.fixed img:nth-child(2) {
  bottom: 120px;
  right: 4px;
  position: fixed;
  width: 60px;
  z-index: 222;
}

.fixed img:nth-child(3) {
  bottom: 185px;
  right: 4px;
  position: fixed;
  width: 60px;
  z-index: 222;
}

.van-icon-search::before {
  content: "\F0AF";
  color: #ccc !important;
}

#cus {
  //   background-color: #fff;
  background-color: #f5f5f9;
}

.avater {
  img {
    width: 65px;
  }

  button {
    border-radius: 8px;
    width: 42px;
    height: 18px;
    font-size: 9px;
    position: relative;
    top: -35px;
    border: 0;
    background-color: #fff;
    box-shadow: 0px 0px 3px 1px rgba(110, 26, 26, 0.28);
  }
}

article {
  width: 343px;
  margin: auto;

  section {
    width: 263px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    // div {
    //   margin: 2px 0 2px 5px;
    //   padding: 8px;
    //   background-color: #fdf1db;
    //   font-size: 14px;
    // }

    .div_active {
      margin: 2px 0 2px 5px;
      padding: 8px;
      background-color: #fdf1db;
      color: #CC00CC;
      font-size: 14px;
    }

    .div_unactive {
      margin: 2px 0 2px 5px;
      padding: 8px;
      background-color: #fdf1db;
      font-size: 14px;
    }
  }
}

nav {
  margin: 18px auto;
  // width: 343px;
  width:93%;
  padding: 9px;
  border-radius: 5px;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 0px 12px 0.5px rgba(110, 26, 26, 0.18);

  .daikan {
    font-size: 13px;
    padding: 15px;
  }

  .chengjiao {
    font-size: 13px;
  }

  span {
    color: #de4135;
    font-weight: 700;
  }

  .fx:nth-child(1) {
    text-align: center;
    flex: 1;
  }

  .fx:nth-child(2) {
    flex: 3.5;
  }

  .fx aside:nth-child(2) {
    font-size: 15px;
    color: #f12945;
    font-weight: 700;
  }

  .fx aside:nth-child(3) div:nth-child(1) {
    color: #999;
  }

  .fx aside:nth-child(4) div:nth-child(1) {
    color: #999;
  }

  .fx aside {
    align-items: center;
    padding: 8px;
    display: flex;

    .btn_f {
      width: auto;
      background-color: #f12945;
      margin: 0 5px;
      border: 0;

      span {
        color: #fff !important;
      }
    }

    .btn_s {
      width: auto;
      // width: 46px;
      background-color: #fff;
      border: solid 1px #313e60;
      margin: 0 5px;

      span {
        color: #333 !important;
      }
    }
  }

  .fx aside:last-child {
    padding-top: 22px;
  }
}

.van-search {
  height: 46px;
}

.lc_filter {
  font-size: 14px;
  position: relative;
  text-align: center;
  font-size: 14px;
  margin-top: 17.5px;
  margin-bottom: 17.5px;
}

.lc_title {
  font-size: 14px;
  margin-left: 17.5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.lc_container {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.lc_divider {
  width: 15.5px;
  height: 2px;
  background: #cccccc;
  margin: 0 2px;
}

.lc_type_active {
  width: fit-content;
  background-color: #f5dbd9;
  border-radius: 17.9px;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  color: #de4135;
}

.lc_type {
  background-color: #f4f4f4;
  border-radius: 17.9px;
  font-size: 12px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  color: #666666;
}

.lc_input {
  width: 100px;
  // margin-left: 10px;
  height: 29px;
  border: none;
  outline: none;
  background: #dddddd;
  border-radius: 17.9px;
  color: #666666;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

.lc_department {
  display: inline-block;
  width: 50%;
  height: 29px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 14px;
  margin: 10px 10px;
  background-color: #f4f4f4;
  padding: 10px;
  color: #666666;
}

.lc_sales_man {
  display: inline-block;
  width: 50%;
  height: 29px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-size: 14px;
  margin: 10px 10px;
  background-color: #f4f4f4;
  padding: 10px;
  color: #666666;
}

.lc_h_layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.lc_layout {
  position: relative;
  height: calc(100% - 120px);
  overflow-y: scroll;
}

input::-webkit-input-placeholder {
  // font-family: "\5FAE\8F6F\96C5\9ED1";
  // font-weight: 400;
  // font-style: normal;
  // font-size: 12px;
  // color: #000000;
  // text-align: left;
  margin-left: 20px;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  margin-left: 20px;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  margin-left: 20px;
}

input:-ms-input-placeholder {
  margin-left: 20px;
}

.lc_unit {
  width: 70px;
  font-size: 14px;
}

.lc_article {
  margin-top: 18px;
  font-size: 14px;
  color: #666666;
}
