/*
 * @Author: luciano 
 * 新增跟進
 * @Date: 2021-12-29 16:31:21 
 * @Last Modified by: luciano
 * @Last Modified time: 2022-03-04 11:40:07
 */
.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;

  // 設置 arrow 樣式
  ::v-deep .van-nav-bar .van-icon {
    color: #666666;
  }

  // end 設置 arrow樣式
  .lc_bar {
    ::v-deep .van-nav-bar__text {
      color: #f12945;
      font-size: 16px;
    }
  }

  .lc_title_ {
    font-size: 14px;
    line-height: 50px;
    height: 50px;
    // flex: 1;
    padding-left: 15px;
    padding-right: 50px;
  }

  .lc_items {
    position: relative;
    display: flex;
    // justify-content: center;
    width: 100%;
    font-size: 16px;
    // height: auto;
    box-shadow: 0px 1px 0px 0px #e2e2e2;
    color: #333333;
    overflow-x: hidden;

    .lc_star {
      width: 30px;
      height: 30px;
      position: absolute;
      left: 12px;
      top: 15px;
      color: #d91b22;
    }

    .lc_title {
      font-size: 14px;
      line-height: 50px;
      height: 50px;
      flex: 1;
      padding-left: 20px;

      .lc_header {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    }

    .lc_title_f {
      font-size: 14px;
      line-height: 50px;
      height: 50px;
      margin-left: 30px;
      white-space: nowrap;
    }

    .lc_title_p {
      font-size: 14px;
      line-height: 50px;
      height: 50px;
      padding-left: 30px;
      width: 110px;
      white-space: nowrap;
    }

    .lc_radio_group {
      ::v-deep .van-radio__label {
        margin-left: 8px;
        color: #323233;
        line-height: 20px;
        font-size: 14px;
      }

      ::v-deep .van-icon,
      .van-icon-success {
        color: #fff;
        // border-color: #ffffff;
        border: 5px solid #cccccc !important;
      }
    }

    .lc_arrow {
      .van-icon {
        position: relative;
        display: inline-block;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        line-height: 50px;
      }
    }

    .lc_block {
      background-color: #f1f1f1;
      border-radius: 2px;
      font-size: 12px;
      padding: 5px;
      color: #666666;
      font-size: 12px;
    }

    .unit {
      height: 50px;
      font-size: 14px;
      line-height: 50px;
      padding-right: 10px;
    }

    ::v-deep .van-cell {
      background-color: transparent;
    }

    ::v-deep .van-icon {
      line-height: 50px;
    }
  }

  .select-images-list {
    // flex-wrap: wrap;
    margin-left: -0.8rem;
    // align-items: start;
    padding-bottom: 0.5rem;

    // box-align: start;
    .vux-flexbox-item {
      flex: 0 0 2.475rem;
      margin-bottom: 0.5rem;
      margin-left: 0.8rem !important;
      position: relative;

      img {
        display: block;
        // width: getRem(96);
        height: 2.5rem;
        width: 100%;
      }
    }

    .img-box {
      width: 100%;
      height: 2.475rem;
      border: 0.5px solid #ccc;
      border-radius: 0.25rem;
      overflow: hidden;
    }

    .remove-icon {
      display: block;
      width: 0.9rem;
      height: 0.9rem;
      position: absolute;
      right: -0.55rem;
      top: -0.45rem;
      background: url("/icon/remove-icon.png") no-repeat center center;
      background-size: 0.9rem 0.9rem;
    }

    .name {
      margin-top: 0.25rem;
      line-height: 0.7rem;
      font-size: 0.6rem;
      color: #ccc;
      text-align: center;
    }

    .select-img {
      border: 0;
      flex: 0 0 2.5rem;
      height: 2.5rem;
      background-size: 2.5rem 2.5rem !important;

      input[type="file"] {
        opacity: 0;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  .select-images-list {
    .select-img {
      background: url("/assets/icon/select-img.png") no-repeat;
    }
  }

  .select-person {
    background: #fff;
    padding-left: 15px;

    &:before {
      border-color: #e6e6e6;
    }

    .title {
      font-size: 14px;
      line-height: 1;
      padding: 0.8rem 0;
    }
  }

  .lc_contact {
    position: relative;
    width: 100%;

    .lc_contact_container {
      width: 100%;
      display: flex;
      margin-left: 20px;
      margin-bottom: 10px;
      align-items: center;

      .lc_title {
        font-size: 14px;
        width: 60px;
        margin-right: 10px;
      }

      .lc_icon_container {
        width: 200px;
        height: 34px;
        border: solid 0.5px #cccccc;
        border-radius: 4px;

        div {
          float: right;
          padding: 5px;
        }
      }
    }

    .lc_contact_add {
      position: relative;
      width: 95%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;

      .lc_contact_add_container {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #f4f4f4;
        border-radius: 14.5px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
        margin-bottom: 10px;

        ::v-deep .van-icon {
          margin-left: 10px;
        }
      }
    }
  }

  .lc_contact_scroll {
    height: 100px;
    overflow-y: scroll;
  }

  .lc_navbar {
    height: 46px;
  }

  .lc_submit {
    position: fixed;
    display: flex;
    align-items: center;
    line-height: 70px;
    font-size: 14px;
    width: 100%;
    bottom: 0;

    ::v-deep .van-button {
      width: 100%;
      height: 47px;
    }
  }

  ::v-deep .lc_call_name.van-cell {

    width: auto;

  }

}
